<div class="auth-block-wrapper">
    <h1>Create an Account</h1>
    <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Please enter your first name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Please enter your last name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Please enter your email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Please enter your password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary">Create</button>
        <div class="login-block">
            <p class="question">Have account?</p>
            <a routerLink="/login" routerLinkActive="active">Log in</a>
        </div>
    </form>
</div>
